@include sprites($spritesheet-sprites);

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

button[disabled], html input[disabled] {
  cursor: not-allowed;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.container-fluid {
  max-width: 1300px;
}

// modify bootstrap gutters
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.mo-gutter > [class*='col-'] {
  padding-right:25px;
  padding-left:25px;
}

.main-content {
  padding: 40px 15px;
}

.button {
  display: inline-block;
  padding: 12px 26px;
  color: #fff;
  background-color: #828282;
  border: 0;
  font-family: Oswald, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  outline: none !important;
  &.button-green {
    background-color: $light-green;
  }
  &.button-smaller {
    padding: 10px 18px;
    font-size: .9rem;
  }
  &:link, &:visited, &:active, &:target {
    color: #fff;
    text-decoration: none;
  }
}