// global element styles

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

// global utility styles

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &-focusable:active,
  &-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.invisible {
  visibility: hidden;
}

.container-fluid {
  max-width: 1300px;
}

// bootstrap gutter mods
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.mo-gutter > [class*="col-"] {
  padding-right: 25px;
  padding-left: 25px;
}

// global classes
.main-content {
  padding: 40px 15px;
}

.button {
  display: inline-block;
  padding: 12px 26px;
  color: #fff;
  background-color: #828282;
  border: 0;
  font-family: Oswald, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  outline: none !important;
  &.button-green {
    background-color: $light-green;
  }
  &.button-charcoal {
    background-color: #333;
  }
  &.button-smaller {
    padding: 10px 18px;
    font-size: 0.9rem;
  }
  &.button-xs {
    padding: 6px 8px;
    font-size: 0.7rem;
    border-radius: 20px;
    border: 2px solid #b2b2b2;
    color: #b2b2b2;
    background: 0;
  }
  &.button-block {
    display: block;
    width: 100%;
  }
  &:link,
  &:visited,
  &:active,
  &:target {
    color: #fff;
    text-decoration: none;
  }
}

html.not-found-page body {
  background-color: #eaeaea;
}
.not-found-404 {
  width: 447px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  button {
    margin-top: 30px;
  }
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animated {
  animation-duration: 1600ms;
}

button.animated {
  animation-duration: 700ms;
}


