/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-aefa-afsa-name: 'icon-aefa-afsa';
$icon-aefa-afsa-x: 613px;
$icon-aefa-afsa-y: 244px;
$icon-aefa-afsa-offset-x: -613px;
$icon-aefa-afsa-offset-y: -244px;
$icon-aefa-afsa-width: 257px;
$icon-aefa-afsa-height: 79px;
$icon-aefa-afsa-total-width: 911px;
$icon-aefa-afsa-total-height: 702px;
$icon-aefa-afsa-image: 'spritesheet.png';
$icon-aefa-afsa: (613px, 244px, -613px, -244px, 257px, 79px, 911px, 702px, 'spritesheet.png', 'icon-aefa-afsa', );
$icon-conversations-on-philanthropy-name: 'icon-conversations-on-philanthropy';
$icon-conversations-on-philanthropy-x: 0px;
$icon-conversations-on-philanthropy-y: 0px;
$icon-conversations-on-philanthropy-offset-x: 0px;
$icon-conversations-on-philanthropy-offset-y: 0px;
$icon-conversations-on-philanthropy-width: 469px;
$icon-conversations-on-philanthropy-height: 148px;
$icon-conversations-on-philanthropy-total-width: 911px;
$icon-conversations-on-philanthropy-total-height: 702px;
$icon-conversations-on-philanthropy-image: 'spritesheet.png';
$icon-conversations-on-philanthropy: (0px, 0px, 0px, 0px, 469px, 148px, 911px, 702px, 'spritesheet.png', 'icon-conversations-on-philanthropy', );
$icon-dk-design-studio-name: 'icon-dk-design-studio';
$icon-dk-design-studio-x: 346px;
$icon-dk-design-studio-y: 502px;
$icon-dk-design-studio-offset-x: -346px;
$icon-dk-design-studio-offset-y: -502px;
$icon-dk-design-studio-width: 204px;
$icon-dk-design-studio-height: 41px;
$icon-dk-design-studio-total-width: 911px;
$icon-dk-design-studio-total-height: 702px;
$icon-dk-design-studio-image: 'spritesheet.png';
$icon-dk-design-studio: (346px, 502px, -346px, -502px, 204px, 41px, 911px, 702px, 'spritesheet.png', 'icon-dk-design-studio', );
$icon-eyeland-digital-name: 'icon-eyeland-digital';
$icon-eyeland-digital-x: 0px;
$icon-eyeland-digital-y: 442px;
$icon-eyeland-digital-offset-x: 0px;
$icon-eyeland-digital-offset-y: -442px;
$icon-eyeland-digital-width: 445px;
$icon-eyeland-digital-height: 60px;
$icon-eyeland-digital-total-width: 911px;
$icon-eyeland-digital-total-height: 702px;
$icon-eyeland-digital-image: 'spritesheet.png';
$icon-eyeland-digital: (0px, 442px, 0px, -442px, 445px, 60px, 911px, 702px, 'spritesheet.png', 'icon-eyeland-digital', );
$icon-general-electric-name: 'icon-general-electric';
$icon-general-electric-x: 0px;
$icon-general-electric-y: 585px;
$icon-general-electric-offset-x: 0px;
$icon-general-electric-offset-y: -585px;
$icon-general-electric-width: 117px;
$icon-general-electric-height: 117px;
$icon-general-electric-total-width: 911px;
$icon-general-electric-total-height: 702px;
$icon-general-electric-image: 'spritesheet.png';
$icon-general-electric: (0px, 585px, 0px, -585px, 117px, 117px, 911px, 702px, 'spritesheet.png', 'icon-general-electric', );
$icon-h4h-cambodia-name: 'icon-h4h-cambodia';
$icon-h4h-cambodia-x: 220px;
$icon-h4h-cambodia-y: 502px;
$icon-h4h-cambodia-offset-x: -220px;
$icon-h4h-cambodia-offset-y: -502px;
$icon-h4h-cambodia-width: 126px;
$icon-h4h-cambodia-height: 75px;
$icon-h4h-cambodia-total-width: 911px;
$icon-h4h-cambodia-total-height: 702px;
$icon-h4h-cambodia-image: 'spritesheet.png';
$icon-h4h-cambodia: (220px, 502px, -220px, -502px, 126px, 75px, 911px, 702px, 'spritesheet.png', 'icon-h4h-cambodia', );
$icon-jj-fish-chicken-name: 'icon-jj-fish-chicken';
$icon-jj-fish-chicken-x: 715px;
$icon-jj-fish-chicken-y: 71px;
$icon-jj-fish-chicken-offset-x: -715px;
$icon-jj-fish-chicken-offset-y: -71px;
$icon-jj-fish-chicken-width: 194px;
$icon-jj-fish-chicken-height: 77px;
$icon-jj-fish-chicken-total-width: 911px;
$icon-jj-fish-chicken-total-height: 702px;
$icon-jj-fish-chicken-image: 'spritesheet.png';
$icon-jj-fish-chicken: (715px, 71px, -715px, -71px, 194px, 77px, 911px, 702px, 'spritesheet.png', 'icon-jj-fish-chicken', );
$icon-karuna-name: 'icon-karuna';
$icon-karuna-x: 469px;
$icon-karuna-y: 170px;
$icon-karuna-offset-x: -469px;
$icon-karuna-offset-y: -170px;
$icon-karuna-width: 281px;
$icon-karuna-height: 74px;
$icon-karuna-total-width: 911px;
$icon-karuna-total-height: 702px;
$icon-karuna-image: 'spritesheet.png';
$icon-karuna: (469px, 170px, -469px, -170px, 281px, 74px, 911px, 702px, 'spritesheet.png', 'icon-karuna', );
$icon-kitchen-sisters-name: 'icon-kitchen-sisters';
$icon-kitchen-sisters-x: 469px;
$icon-kitchen-sisters-y: 388px;
$icon-kitchen-sisters-offset-x: -469px;
$icon-kitchen-sisters-offset-y: -388px;
$icon-kitchen-sisters-width: 300px;
$icon-kitchen-sisters-height: 50px;
$icon-kitchen-sisters-total-width: 911px;
$icon-kitchen-sisters-total-height: 702px;
$icon-kitchen-sisters-image: 'spritesheet.png';
$icon-kitchen-sisters: (469px, 388px, -469px, -388px, 300px, 50px, 911px, 702px, 'spritesheet.png', 'icon-kitchen-sisters', );
$icon-leigh-designs-name: 'icon-leigh-designs';
$icon-leigh-designs-x: 0px;
$icon-leigh-designs-y: 502px;
$icon-leigh-designs-offset-x: 0px;
$icon-leigh-designs-offset-y: -502px;
$icon-leigh-designs-width: 220px;
$icon-leigh-designs-height: 83px;
$icon-leigh-designs-total-width: 911px;
$icon-leigh-designs-total-height: 702px;
$icon-leigh-designs-image: 'spritesheet.png';
$icon-leigh-designs: (0px, 502px, 0px, -502px, 220px, 83px, 911px, 702px, 'spritesheet.png', 'icon-leigh-designs', );
$icon-mona-luna-name: 'icon-mona-luna';
$icon-mona-luna-x: 0px;
$icon-mona-luna-y: 252px;
$icon-mona-luna-offset-x: 0px;
$icon-mona-luna-offset-y: -252px;
$icon-mona-luna-width: 383px;
$icon-mona-luna-height: 94px;
$icon-mona-luna-total-width: 911px;
$icon-mona-luna-total-height: 702px;
$icon-mona-luna-image: 'spritesheet.png';
$icon-mona-luna: (0px, 252px, 0px, -252px, 383px, 94px, 911px, 702px, 'spritesheet.png', 'icon-mona-luna', );
$icon-monticello-property-management-name: 'icon-monticello-property-management';
$icon-monticello-property-management-x: 469px;
$icon-monticello-property-management-y: 0px;
$icon-monticello-property-management-offset-x: -469px;
$icon-monticello-property-management-offset-y: 0px;
$icon-monticello-property-management-width: 442px;
$icon-monticello-property-management-height: 71px;
$icon-monticello-property-management-total-width: 911px;
$icon-monticello-property-management-total-height: 702px;
$icon-monticello-property-management-image: 'spritesheet.png';
$icon-monticello-property-management: (469px, 0px, -469px, 0px, 442px, 71px, 911px, 702px, 'spritesheet.png', 'icon-monticello-property-management', );
$icon-quiet-orinda-name: 'icon-quiet-orinda';
$icon-quiet-orinda-x: 445px;
$icon-quiet-orinda-y: 442px;
$icon-quiet-orinda-offset-x: -445px;
$icon-quiet-orinda-offset-y: -442px;
$icon-quiet-orinda-width: 330px;
$icon-quiet-orinda-height: 55px;
$icon-quiet-orinda-total-width: 911px;
$icon-quiet-orinda-total-height: 702px;
$icon-quiet-orinda-image: 'spritesheet.png';
$icon-quiet-orinda: (445px, 442px, -445px, -442px, 330px, 55px, 911px, 702px, 'spritesheet.png', 'icon-quiet-orinda', );
$icon-relola-name: 'icon-relola';
$icon-relola-x: 0px;
$icon-relola-y: 346px;
$icon-relola-offset-x: 0px;
$icon-relola-offset-y: -346px;
$icon-relola-width: 372px;
$icon-relola-height: 96px;
$icon-relola-total-width: 911px;
$icon-relola-total-height: 702px;
$icon-relola-image: 'spritesheet.png';
$icon-relola: (0px, 346px, 0px, -346px, 372px, 96px, 911px, 702px, 'spritesheet.png', 'icon-relola', );
$icon-st-patricks-seminary-name: 'icon-st-patricks-seminary';
$icon-st-patricks-seminary-x: 469px;
$icon-st-patricks-seminary-y: 244px;
$icon-st-patricks-seminary-offset-x: -469px;
$icon-st-patricks-seminary-offset-y: -244px;
$icon-st-patricks-seminary-width: 144px;
$icon-st-patricks-seminary-height: 144px;
$icon-st-patricks-seminary-total-width: 911px;
$icon-st-patricks-seminary-total-height: 702px;
$icon-st-patricks-seminary-image: 'spritesheet.png';
$icon-st-patricks-seminary: (469px, 244px, -469px, -244px, 144px, 144px, 911px, 702px, 'spritesheet.png', 'icon-st-patricks-seminary', );
$icon-terra-global-capital-name: 'icon-terra-global-capital';
$icon-terra-global-capital-x: 469px;
$icon-terra-global-capital-y: 71px;
$icon-terra-global-capital-offset-x: -469px;
$icon-terra-global-capital-offset-y: -71px;
$icon-terra-global-capital-width: 246px;
$icon-terra-global-capital-height: 99px;
$icon-terra-global-capital-total-width: 911px;
$icon-terra-global-capital-total-height: 702px;
$icon-terra-global-capital-image: 'spritesheet.png';
$icon-terra-global-capital: (469px, 71px, -469px, -71px, 246px, 99px, 911px, 702px, 'spritesheet.png', 'icon-terra-global-capital', );
$icon-weaved-name: 'icon-weaved';
$icon-weaved-x: 613px;
$icon-weaved-y: 323px;
$icon-weaved-offset-x: -613px;
$icon-weaved-offset-y: -323px;
$icon-weaved-width: 226px;
$icon-weaved-height: 60px;
$icon-weaved-total-width: 911px;
$icon-weaved-total-height: 702px;
$icon-weaved-image: 'spritesheet.png';
$icon-weaved: (613px, 323px, -613px, -323px, 226px, 60px, 911px, 702px, 'spritesheet.png', 'icon-weaved', );
$icon-woof-report-name: 'icon-woof-report';
$icon-woof-report-x: 0px;
$icon-woof-report-y: 148px;
$icon-woof-report-offset-x: 0px;
$icon-woof-report-offset-y: -148px;
$icon-woof-report-width: 380px;
$icon-woof-report-height: 104px;
$icon-woof-report-total-width: 911px;
$icon-woof-report-total-height: 702px;
$icon-woof-report-image: 'spritesheet.png';
$icon-woof-report: (0px, 148px, 0px, -148px, 380px, 104px, 911px, 702px, 'spritesheet.png', 'icon-woof-report', );
$spritesheet-width: 911px;
$spritesheet-height: 702px;
$spritesheet-image: 'spritesheet.png';
$spritesheet-sprites: ($icon-aefa-afsa, $icon-conversations-on-philanthropy, $icon-dk-design-studio, $icon-eyeland-digital, $icon-general-electric, $icon-h4h-cambodia, $icon-jj-fish-chicken, $icon-karuna, $icon-kitchen-sisters, $icon-leigh-designs, $icon-mona-luna, $icon-monticello-property-management, $icon-quiet-orinda, $icon-relola, $icon-st-patricks-seminary, $icon-terra-global-capital, $icon-weaved, $icon-woof-report, );
$spritesheet: (911px, 702px, 'spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
