$section-padding: 3em;
$chat-width: 400px;

$light-green: #52B235;
$light-purple: #AFAFC8;
$footer-links: #86af6e;
$portfolio-1: #353535;
$portfolio-2: #000;
$chat-online: $light-green;
$chat-offline: #bc2828;

