.main-content {
  padding-top: 70px;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

table.portfolio-list.table td {
  vertical-align: middle;
}

.portfolio-edit .gallery img {
  width: 100px;
  height: 100px;
}

.form-signin {
  .btn-github {
    background-color: #555;
    &:hover, &:active, &:visited {
      background-color: #555;
    }
  }
 .or {
  margin: 25px 0;
  text-align: center;
  }
}

