$green: #52b235;
$red: #d2474e;

// navbar
#navbar-toggle-cbox:checked ~ .collapse {
  display:block;
  .navbar-nav .nav-item+.nav-item, .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}
#navbar-toggle-cbox {
  display: none;
}
.navbar-toggler {
  background-color: #454646;
}
@media (min-width: 544px) {
  .navbar {
    border-radius: 0;
  }
}

// override client css
.form-control:focus {
  color: #ccc;
  background-color: #292929;
  border: 0;
  outline: none;
}

// main css begins
.main-content {
  padding-top: 45px;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

table.portfolio-list.table td {
  vertical-align: middle;
}

.portfolio-edit .gallery img {
  width: 100px;
  height: 100px;
}

.form-signin {
  .btn-github {
    background-color: #555;
    &:hover,
    &:active,
    &:visited {
      background-color: #555;
    }
  }
  .or {
    margin: 25px 0;
    text-align: center;
  }
}

// live chat manager
.live-chat-manager {
  .user-list {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    li,
    li:hover,
    li:target,
    li:focus {
      border: 0;
    }
    .connected {
      background-color: #68aa44;
    }
    .disconnected {
      background-color: $red;
    }
    .active {
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.07);
      }
    }
    .new-messages {
      .tag {
        background-color: #db2e59;
        color: #fff;
      }
    }
    .archived,
    .archived:hover {
      background: #fff;
      border: 1px solid #ddd;
    }
  }
  .messages {
    height: 450px;
    overflow: auto;
    padding: 12px;
    background: #292929;
    color: darken($green, 6%);
    border-radius: .25rem;
  }
  .message-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 12px 0;
      line-height: 1.5rem;
      border-bottom: 1px solid #444;
      &:last-child {
        border: 0;
      }
    }
    .name {
      color: #8f8f8f
    }
    .date {
      font-size: 0.7rem;
      color: #8f8f8f;
    }
  }
  .post-input,
  .post-message {
    height: 50px;
  }
  .post-input {
    border-radius: .25rem 0 0 .25rem;
    &:focus {
      background-color: #292929;
    }
  }
  .post-message {
    border-radius: 0 .25rem .25rem 0;
    cursor: pointer;
    background: $green;
    color: #fff;
  }
  h3.archived-chats,
  h3.send {
    margin-top: 30px;
  }
  // override pagination color
  .page-item.active .page-link,
  .page-item.active .page-link:focus,
  .page-item.active .page-link:hover {
    background-color: $green;
    border-color: #ccc;
  }

  .tag.pull-right {
    margin-top: 4px;
  }
}
