{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false
    }],
    "stage-3",
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
            "modules": "commonjs"
        }],
        "stage-3",
        "react",
        "jest"
      ]
    }
  }
}