{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "jest": true,
        "node": true
    },
    "plugins": ["react"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
