.env*
.idea
.vscode
node_modules
tmp
dist
secrets.sh
app/images/portfolio
public/images/portfolio
npm-debug*.log
server/production
pgData
database/pgData
stats.json
coverage
jestCache
deploy.sh
