version: '3.4'

services:
  db-production:
    container_name: jasongallagher_db-prod
    image: jasongallagher_db:prod
    ports:
      - '5433:5432'
    env_file:
      - ./config/.env.database-init.prod
    volumes:
      - 'jg_data:/var/lib/postgresql/data/'
    labels:
        com.datadoghq.ad.check_names: 'postgres'
        com.datadoghq.ad.init_configs: '{}'
        com.datadoghq.ad.instances: '{"host":"%%host%%", "port":"%%port%%","username":"datadog","password":"%%env_<DATADOG_DB_PASSWORD>%%"}'
    restart: always
    healthcheck:
      test: exit 0

  app-production:
    container_name: jasongallagher_app-prod
    image: jasongallagher_app:prod
    ports:
      - '3100:3100'
    volumes:
      - './public:/src/public'
    env_file: ./config/.env.prod
    restart: 'always'
    depends_on:
      - db-production
    environment:
    - NODE_ENV=production

  app-staging:
    container_name: jasongallagher_app-staging
    image: jasongallagher_app:staging
    ports:
      - '3200:3200'
    volumes:
      - './public:/src/public'
    env_file: ./config/.env.staging
    restart: 'always'
    depends_on:
      - db-staging
    environment:
      - NODE_ENV=production

volumes:
  jg_data:
  jg_data_staging:
