html {
    font-size: 17px;
    height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    padding-top: 50px;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.main-content {
    padding: 40px 15px;
}

table.portfolio-list.table td {
    vertical-align: middle;
}

.portfolio-edit .gallery img {
    width: 100px;
    height: 100px;
}