<%- include('header') -%>

<!--<script>window.__archivedUsers__ = 10</script>-->

<div class="live-chat-manager row">
    <div class="col-md-4">
        <h3>Current Chats</h3>
        <div id="userList" class="list-group"></div>
        <h3>Archived Chats</h3>
        <div id="archivedUserList" class="list-group"></div>
    </div>
    <div class="col-md-8">
        <h3>Messages</h3>
        <div class="form-group">
            <div id="messages" class="messages"></div>
        </div>
        <h3>Send</h3>
        <form action="">
            <div class="form-group">
                <input type="text" id="message"class="form-control"></input>
            </div>
            <button id="postMessage" type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

<%- include('footer') -%>