.footer-wrap {
  background-color: #3e6f22;
  overflow: hidden;
  padding-bottom: 80px;
}

.footer-border {
  background: url('../../images/home/footer_tile.png') #000 top left repeat-x;
  height: 234px;
}

.contact {
  margin-top: $section-padding;
  color: #292929;
  a:link, a:visited, a:hover, a:active {
    color: $footer-links;
    text-decoration: none;
    transition: color 300ms;
  }
  a:hover {
    color: darken($footer-links, 15%);
  }
}

.contact-method {
  margin-bottom: 3px;
}

.about-this-site {
  margin-top: 30px;
}
.about-this-site-text {
  span {
    color: $footer-links;
  }
}
.contact-form {
  .message {
    height: 160px;
  }
  .error {
    color: $footer-links;
    padding-left: 13px;
  }
  .send-message{
    margin-bottom: 15px;
  }
  button {
    width: 140px;
  }
}

.thanks {
  text-align: center;
  font-family: 'Sanchez', serif;
  font-size: 2em;
  color: $footer-links;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .contact-me, .about-this-site, .contact-form {
    margin-top: 45px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .contact-form {
    button {
      width: 100%;
    }
  }
}