.main-header {
  height: 825px;
  background: url('../../images/header-image.jpg') #3F7E37 no-repeat center top;
  background-size: auto 825px;
  overflow: hidden;
}

.main-nav {
  margin: 60px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
  li {
    display: inline-block;
    line-height: 59px;
  }
  a {
    padding: 0 20px;
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
  .jg-logo {
    display: inline-block;
    margin-top: -10px;
  }
}

.title-tagline-wrapper {
  color: #fff;
  margin: 0px auto;
  max-width: 800px;
  text-align: center;
  margin-top: 165px;
  h1 {
    font-size: 3.55em;
    margin-bottom: 30px;
    line-height: 3.8rem;
  }
  h2 {
    margin: 0;
    font-family: 'Sanchez', serif;
    font-size: 1.55em;
    line-height: 1.3em;
  }
}

.hamburger {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 150px;
  text-align: center;
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {

  .main-nav {
    display: none;
  }

  .title-tagline-wrapper {
    margin-top: 104px;
    h1 {
      font-size: 3.3rem;
      letter-spacing: 1px;
    }
  }
  .button-wrapper {
    margin-top: 60px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .title-tagline-wrapper {
    margin-top: 84px;
    h1 {
      font-size: 2.7rem;
      line-height: 3rem;
      letter-spacing: 1px;
    }
    h2 {
      font-size: 1.35rem;
    }
  }
  .hamburger {
    top: 18px;
    font-size: 1.7rem;
  }
  .button-wrapper {
    margin-top: 37px;
  }
}