.main-header {
  height: 825px;
  background: url("../images/header-image.jpg") #46823c no-repeat center top;
  background-size: auto 825px;
  overflow: hidden;
}

.main-nav {
  margin: 60px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
  li {
    display: inline-block;
    line-height: 59px;
  }
  a {
    padding: 0 20px;
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    outline: none !important;
  }
  .jg-logo {
    display: inline-block;
    margin-top: -8px;
  }
}

.title-tagline-wrapper {
  margin: 0 auto;
  margin-top: 165px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 800px;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 3.55em;
    margin-bottom: 30px;
    line-height: 3.8rem;
  }
  h2 {
    margin: 0;
    font-family: "Sanchez", serif;
    font-size: 1.55em;
    line-height: 1.3em;
  }
}

.hamburger {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 152px;
  text-align: center;
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .main-nav {
    display: none;
  }

  .title-tagline-wrapper {
    margin-top: 104px;
    h1 {
      font-size: 3.3rem;
      letter-spacing: 1px;
    }
  }
  .button-wrapper {
    margin-top: 60px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .title-tagline-wrapper {
    margin-top: 90px;
    h1 {
      font-size: 2.7rem;
      line-height: 3rem;
      letter-spacing: 1px;
    }
    h2 {
      font-size: 1.35rem;
    }
  }
  .hamburger {
    top: 18px;
    font-size: 1.7rem;
  }
  .button-wrapper {
    margin-top: 37px;
  }
}
