html.sticky-menu-open body {
  padding-top: 50px;
}

.sticky-header {
  visibility: visible;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #333;
  font-family: Oswald, sans-serif;
  line-height: 70px;
  text-transform: uppercase;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.4s;
  h3,
  p,
  a {
    transition: all 0.4s;
    outline: none !important;
  }
  &.off {
    visibility: hidden;
    opacity: 0;
    height: 0;
    h3,
    p,
    a {
      font-size: 0;
    }
    .jg-logo {
      width: 0;
    }
  }
  nav {
    display: inline-block;
  }
  .jg-logo {
    display: inline-block;
    margin-right: 8px;
    margin-top: -2px;
    transition: all 0.4s;
  }
}

.sticky-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    &:first-child a {
      padding-left: 0;
    }
  }
  a {
    display: inline-block;
    padding: 0 17px;
    font-size: 1.2rem;
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: #eee;
      text-decoration: none;
    }
  }
}
.contact-info {
  font-family: "Sanchez", serif;
  color: #fff;
  .skype {
    padding-left: 18px;
    a {
      color: #55acf1;
      &:hover,
      &:active,
      &:visited,
      &:target {
        outline: none !important;
        text-decoration: none !important;
        border: 0;
      }
      &:hover {
        color: #8cd3ff;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .sticky-header .jg-logo {
    margin-right: 8px;
  }
  .sticky-nav a {
    padding: 0 14px;
  }
}
